on:
  push:
  pull_request:

jobs:

  test:
    runs-on: docker
    container:
      image: ghcr.io/catthehacker/ubuntu:act-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Secret Scanning
      uses: https://github.com/trufflesecurity/trufflehog@main
      with:
        extra_args: --results=verified,unknown
